@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

.hero-radial {
  background-image: radial-gradient(circle at center, #cb7b62 0, #e5a590 80%);
}
